<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2"
        tools:targetApi="31">

        <!-- 로그인 화면을 앱 시작화면으로 설정 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인 연동 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 리다이렉트 URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao7722d093047cf8f0c349e545ce78969d" />
            </intent-filter>
        </activity>

        <!-- 구글맵 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-9UVXx-o5vlnLTTTJAyitZ_Em5PuHFJ8"/>

        <!-- 기타 액티비티 -->
        <activity android:name=".JoinActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FindIdActivity"/>
        <activity android:name=".FindPasswordActivity"/>
        <activity android:name=".FindAccountActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".ProfileDeleteActivity" />
        <activity android:name=".RealProfileDeleteActivity" />
        <activity android:name=".ProfileManageActivity" />
        <activity android:name=".ProfileViewActivity" />
        <activity android:name=".TeamDetailActivity" />
        <activity android:name=".SetNicknameActivity" />
        <activity android:name=".UpcomingMatchActivity" />
        <activity android:name=".PlayersActivity" />
        <activity android:name=".RecentResultActivity" />
        <activity android:name=".PlayerInfoActivity" />


    </application>

</manifest>